body{
	height: 100%;
	width: 100%;
    margin: 0;
	background-color: rgb(37, 36, 36);
}

header {
    margin: 0;
}



.topnav{
    list-style: none;
    overflow: hidden;
    margin: 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(37, 36, 36);

}

.topnav li a{
    float: left;
    color: rgb(212, 205, 205);
    margin-left: 18.5%;
    font-size: 1.5em;
    padding: 1em;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
}
.topnav .active{
    text-decoration:underline;
    background-color: rgb(54, 54, 54);
}
.topnav li a:hover:not(.active) {
    background-color: rgb(36, 33, 33);
}

.sidenav{
    list-style-type: none;
    position: fixed;
    overflow:hidden;
    margin: 0;
    margin-top: 0em;
    padding: 0;
    width: 10%;
    height: 100%;

}
.sidenav li a{
    display: block;
    background-color: rgb(37, 36, 36);
    border-bottom: 1px solid rgb(226, 226, 218);
    color: white;
    padding: 1em;
    text-decoration: none;
    text-align: center;
}
.sidenav a:hover{
    background-color: gray;
    padding: 1.5em;
}

.sidenav li:last-child {
    border-bottom:none;
}

.container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-top: 4em;
    margin-left: 10%;

    background-color: rgb(226, 226, 218);
    font-family:'', Merriweather, sans-serif;
}
#maincontent{
    width: 60%;
}
.page_header{
    text-align: center;
}

.afsnit_header{
    margin-left: 5%;
}